.footerContainer {
    /* background: var(--gradient-1, linear-gradient(180deg, #EDEDED 0%, #072AC5 58.5%)); */
    position: relative;
    overflow: hidden;
    transition: background-color 0.2s ease;
}

.InsightHeader {
    padding-top: 110px;
    color: var(--color-10);
}

.InsightCardWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 72px;
}

.insightBtn {
    display: flex;
    justify-content: center;
    padding-top: 86px;
}

.footerWrapper {
    padding: 100px 0;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footerContentContainer {
    position: relative;
    z-index: 1;
}

.footerLinks {
    list-style-type: none;
    color: var(--color-10);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footerPageLinks {
    display: flex;
    gap: 60px;
}

.tellusContent {
    color: var(--color-4);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
    justify-content: flex-end;
}

.copyrightSection {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 36px 0;
    color: var(--color-10);
}

.copyrightContent {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.termsPageLinks {
    display: flex;
    gap: 40px;
    flex-direction: row;
}

.FooterAnimationLogo {
    position: absolute;
    bottom: -23rem;
    width: 100%;
}

.FooterAnimation3d {
    bottom: 0;
    height: 763px;
}
.FooterAnimation3d div{
    display: flex;
    justify-content: center;
}
.rotationControl{
    position: fixed;
    top: 200px;
    z-index: 10;
}
.cameraControl{
    position: fixed;
    top: 200px;
    z-index: 10;
    right: 0;
}

@media (max-width:1700px) {
    .FooterAnimationLogo {
        bottom: -18rem;
    }
    .FooterAnimation3d {
        height: 700px;
    }
}
@media (max-width:1600px) {
    .FooterAnimationLogo {
        bottom: -16rem;
    }
    .FooterAnimation3d {
        height: 650px;
    }
}
@media (max-width:1440px) {
    .FooterAnimationLogo {
        bottom: -16rem;
    }
    .FooterAnimation3d {
        height: 580px;
    }
}
@media (max-width:1350px) {
    .FooterAnimationLogo {
        bottom: -13rem;
    }
    .FooterAnimation3d {
        height: 540px;
    }
}
@media (max-width:1350px) {
    .FooterAnimationLogo {
        bottom: -13rem;
    }
    .FooterAnimation3d {
        height: 540px;
    }
}
@media (max-width:1350px) {
    .FooterAnimationLogo {
        bottom: -11rem;
    }
    .FooterAnimation3d {
        height: 490px;
    }
}
@media (max-width:1150px) {
    .FooterAnimationLogo {
        bottom: -11rem;
    }
    .FooterAnimation3d {
        height: 450px;
    }
}
@media (max-width:1024px) {
    .FooterAnimationLogo {
        bottom: -11rem;
    }
    .FooterAnimation3d {
        height: 400px;
    }
}
@media (max-width:991px) {
    .FooterAnimationLogo {
        bottom: -8rem;
    }
    .FooterAnimation3d {
        height: 345px;
    }
}
@media (max-width:991px) {
    .FooterAnimationLogo {
        bottom: -8rem;
    }
    .FooterAnimation3d {
        height: 324px;
    }
}