.clientContainer {
    padding: 150px  0;
    background-color: white;
    position: relative;
}

.clientContentWrap {
    padding-top: 40px;
}

.clientwrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.linkWrap {
    position: relative; 
    cursor: pointer;
    display: inline-block; 
}

/* .hoveredImageWrap {
    opacity: 1; 
    transform: translateY(0px); 
    transition: opacity 0.2s ease, transform 2s ease; 
    position: absolute;
    z-index: 10; 
} */

.hoveredImageWrap.show {
    opacity: 1; 
    transform: translateY(0); 
}

.hoveredImage {
    max-width: 294px;
}

.clientItem {
    position: relative;
}