.clientContainer {
    padding: 80px  0;
}

.clientContentWrap {
    padding-top: 40px;
}

.clientwrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.linkwrap {
    position: relative;
}

.hoveredImageWrap {
    position: absolute;
    z-index: 1;
    bottom: 40px;
}

.hoveredImage {
    max-width: 294px;
}

.clientItem {
    position: relative;
}