@font-face {
  font-family: 'PP Right Grotesk';
  src: url('/fonts/PPRightGrotesk/PPRightGrotesk-Regular.woff2') format('woff2'),
    url('/fonts/PPRightGrotesk/PPRightGrotesk-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --global-font: "PP Right Grotesk";

  --color-2: #70FF70;
  --color-3: #FFBE0B;
  --color-4: #0F0;
  --color-5: #FFBFDF;
  --color-6: #DFFFDF;
  --color-7: #F8F5F5;
  --color-8: #ECECEC;
  --color-9: #000;
  --color-10: #FFF;
  --color-11: #072AC5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--global-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1780px;
  width: 90%;
  margin: 0 auto;
  padding: 0;

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* heading */
.heading-1 {
  font-size: 137.08px;
  font-style: normal;
  font-weight: 500;
  line-height: 140px;
  letter-spacing: -4px;
}

.heading-3 {
  font-size: 84px;
  font-style: normal;
  font-weight: 500;
  line-height: 110px;
  letter-spacing: -2px;
}

.heading-4 {
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -1px;
}

.heading-5-med {
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 62px;
}

/* text */
.text-1 {
  font-size: 52px;
  font-style: normal;
  font-weight: 200;
  line-height: 64px;
  letter-spacing: -1px;
}

.text-2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  line-height: 40px;
}

.text-3-reg {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.text-4-med {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 62px;
}

.text-5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.text-6-med {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.64px;
}

.text-8-med {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

/* button text */
.button-text1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.72px;
  letter-spacing: 0.7px;
}

/* text-alignment */
.tac {
  text-align: center;
}

@media(max-width:1440px) {
  .container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    padding: 0;

  }
}