.sectionMainWrap {
    position: relative;
}

.sectionMainimage img {
    width: 90%;
    position: absolute;
    top: 37%;
    border-radius: 12px;
}

.resultsWrapLogo {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.AnimationLogoWrapcontent {
    backdrop-filter: blur(5px);
}



.sectionBanner {
    transition: opacity 0.5s  ease-in-out, position 0.5s  ease; 
}


@media (max-width:1440px) {
    .sectionMainimage img {
        top: 40%;
    }
}