.sectionMainWrap {
    position: relative;
}

.sectionMainimage img {
    width: 90%;
    position: absolute;
    top: 37%;
    border-radius: 12px;
}

.resultsWrapLogo {
    position: absolute;
    height: 400px;
    width: 100%;
    display: flex;
    padding-top: 100px;
    justify-content: center;
}

.AnimationLogoWrapcontent {
    background: rgba(64, 81, 74, 0.10);    /* background: rgba(255, 255, 255, 0.10); */
    backdrop-filter: blur(3px);
}



.sectionBanner {
    transition: opacity 0.5s ease-in-out, position 0.5s ease;
}


@media (max-width:1440px) {
    .sectionMainimage img {
        top: 40%;
    }
}